# caddy.service
#
# For using Caddy with a config file.
#
# Make sure the ExecStart and ExecReload commands are correct
# for your installation.
#
# WARNING: This service does not use the --resume flag, so if you
# use the API to make changes, they will be overwritten by the
# Caddyfile next time the service is restarted. If you intend to
# use Caddy's API to configure it, add the --resume flag to the
# `caddy run` command or use the caddy-api.service file instead.

[Unit]
Description=Caddy
Documentation=https://caddyserver.com/docs/
After=network.target
StartLimitIntervalSec=120

[Service]
User={{ caddy2_user }}
Group={{ caddy2_user }}
{% if caddy2_config_json is defined %}
ExecStart={{ caddy2_binary }} run --environ --config /etc/caddy2/config.json
ExecReload={{ caddy2_binary }} reload --config /etc/caddy2/config.json
{% else %}
ExecStart={{ caddy2_binary }} run --environ --config /etc/caddy2/Caddyfile
ExecReload={{ caddy2_binary }} reload --config /etc/caddy2/Caddyfile
{% endif %}


TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE

Restart=on-failure
RestartSec=10
StartLimitBurst=6

[Install]
WantedBy=multi-user.target
